/*1204px × 1211px*/
/* For width greater than 1200px: */
/* Airplane Safety */
@media screen
and (min-width: 1201px){
	.software { width: 438px; height: 582px;
    	background: url('software.png') 0px 0px; 
	}
}

/* For width 1001px-1200px: */
/* Elevator Safety */
@media screen 
and (min-width: 1001px)
and (max-width: 1200px){
	.software { width: 435px; height: 577px;
        background: url('software.png') -438px 0px; 
    }
}

/* For width 801px-1000px: */
/* Computerized Voting */
@media screen 
and (min-width: 801px)
and (max-width: 1000px){
	.software { width: 338px; height: 580px;
        background: url('software.png') -865px 0px; 
    }
}

/* For width 601px-800px: */
/* Wait, Really? */
@media screen 
and (min-width: 601px)
and (max-width: 800px){
	.software { width: 716px; height: 625px;
        background: url('software.png') 0px -586px; 
    }
}

/* For width less than or equal to 600px: */
/* Blockchain */
@media screen 
and (max-width: 600px){
	.software { width: 488px; height: 625px;
        background: url('software.png') -716px -586px ; 
    }
}

